<!DOCTYPE html>
{% load static %}

<html>
<head>
	<title>Welcome page</title>
	<link rel="stylesheet" type="text/css" href="{% static "newsapp/css/homepage.css" %}">
	<link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.5.2/css/bootstrap.min.css" integrity="sha384-JcKb8q3iqJ61gNV9KGb8thSsNjpSL0n8PARn9HuZOnIxN0hoP+VmmDGMN5t9UJ0Z" crossorigin="anonymous">
<script src="https://stackpath.bootstrapcdn.com/bootstrap/4.5.2/js/bootstrap.min.js" integrity="sha384-B4gt1jrGC7Jh4AgTPSdUtOBvfO8shuf57BaghqFfPlYxofvL8/KUEfYiJOMMV+rV" crossorigin="anonymous"></script>

</head>
<body>
	<marquee>Home page of NDTV news</marquee>
	<h2>Welcome to NDTV news channel</h2>
	<div class="container" align="center">
	<div class="jumbotron">

  		<h1 class="display-4">Experience Truth First</h1>
 		
  		<p>This is dummy home page of NDTV news channel</p>

 		<a class="btn btn-primary btn-lg" href="/ndtv/movies/" role="button">Movies</a>&nbsp&nbsp
		<a class="btn btn-primary btn-lg" href="/ndtv/sports/" role="button">Sports</a>&nbsp&nbsp
 		<a class="btn btn-primary btn-lg" href="/ndtv/politics/" role="button">Politics</a>

	</div>
		</div>
</body>
</html>